#slider.carousel.slide{'data-ride': 'carousel'}
  %ol.carousel-indicators
    %li.active{'data-target': '#slider', 'data-slide-to': '0'}
    %li{'data-target': '#slider', 'data-slide-to': '1'}
    %li{'data-target': '#slider', 'data-slide-to': '2'}
  .carousel-inner{role: 'listbox'}
    - @catalog_presenter.carousel_newest_books.each_with_index do |book, index|
      %div{'class': "item#{' active' if index.zero?}"}
        .row    
          .col-sm-5
            .general-img-wrap
              %img.img-shadow.general-thumbnail-img
                = image_tag book.image_url, alt: book.name
          .col-sm-7
            .mb-60
              %h1= book.name
              %p.lead= book.description
              %p.lead.small= @catalog_presenter.author_name(book)
              .general-align
                =  simple_form_for(OrderItem.new, validate: true, url: order_items_path, html: { method: :post }) do |f|
                  = f.input :book_id, as: :hidden, input_html: { value: book.id }
                  = f.input :quantity, as: :hidden, input_html: { value: 1 }
                  = f.submit t('homepage.buy_now'), class: 'btn btn-primary'
    %a.left.carousel-control{href: '#slider', role: 'button', 'data-slide': 'prev'}
      %span.icon-prev{'aria-hidden': 'true'}
      %span.sr-only= t('homepage.previous')
    %a.right.carousel-control{href: '#slider', role: 'button', 'data-slide': 'next'}
      %span.icon-next{'aria-hidden': 'true'}
      %span.sr-only= t('homepage.next')
      