- if @orders.shipping_address(current_order.address_id)
  .col-sm-3
    %h3.general-subtitle= @orders.shipping_address(current_order.address_id).type
    %p.general-address
      = @orders.receiver_name
      %span
        = link_to 'edit', wizard_path(:address), class: 'general-edit'
      %br
      = @orders.delivery_address.address
      %br
      = @orders.full_address
      %br
      = @orders.delivery_address.country
      %br
      = @orders.phone
- else 
  .col-sm-3
    %h3.general-subtitle= @orders.billing_address(current_order.address_id).type
    %p.general-address
      = @orders.receiver_name
      = link_to 'edit', wizard_path(:address), class: 'general-edit'
      %br
      = @orders.delivery_address.address
      %br
      = @orders.full_address
      %br
      = @orders.delivery_address.country
      %br
      = @orders.phone
.col-sm-3
  %h3.general-subtitle Shipments
  %p.general-address
    = @orders.delivery_type.name
    %span= link_to 'edit', wizard_path(:delivery), class: 'general-edit'
    %br
    By train
.col-sm-3
  %h3.general-subtitle Payment Information
  %p.general-address
    = @orders.card_number
    %span= link_to 'edit', wizard_path(:payment), class: 'general-edit'
    %br= @orders.credit_card.date
    