%table.table
  = f.collection_radio_buttons :delivery_id, @deliveries, :id, :name do |b|
    %tr
      %td.col-half
        %span.in-grey-600= t('checkout.delivery.method')
      %td.col-half
        .form-group.radio.mt-0.mb-0
          = b.label(class: 'radio-label', namespace: 'mobile') do
            = b.radio_button(class: 'radio-input', hidden: "true", namespace: 'mobile')
            %span.radio-icon
            %span.radio-text= b.text
    %tr
      %td
        %span.in-grey-600= t('checkout.delivery.days')
      %td
        %span.font-16.fw-300= t('checkout.delivery.delivery_time', min: b.object.days_min, max: b.object.days_max)
    %tr
      %td
        %span.in-grey-600= t('checkout.delivery.price')
      %td
        %span.font-16.in-gold-500= t('checkout.delivery.delivery_price', price: b.object.price)