%tbody
  = f.collection_radio_buttons :delivery_id, @deliveries, :id, :name do |b|
    %tr
      %td
        .form-group.radio.mt-0.mb-0
          = b.label(class: 'radio-label', namespace: 'desktop') do
            = b.radio_button(class: 'radio-input', hidden: "true", namespace: 'desktop')
            %span.radio-icon
            %span.radio-text= b.text
      %td
        %span= t('checkout.delivery.delivery_time', min: b.object.days_min, max: b.object.days_max)
      %td
        %span.font-16.in-gold-500= t('checkout.delivery.delivery_price', price: b.object.price)
          