%main.container.general-main-wrap
  = render partial: 'checkout_header'
  .text-center.mb-40
    %h3.general-subtitle= t('checkout.complete.thank_you') 
    %p.fw-300= t('checkout.complete.confirmation', email: current_user.email) 
  = simple_form_for(:current_order, url: wizard_path, method: :put) do |f|
    .row.mb-20
      .col-sm-6
        .visible-xs
          %p.general-order-number.mb-0= current_order.number
          %p.general-address= current_order.created_at
        = @order.receiver_name
        %span.general-edit edit
        %br
        = @order.delivery_address.address
        %br
        = @order.full_address
        %br
        = @order.delivery_address.country
        %br
        = @order.phone
      .col-sm-6.hidden-xs.text-right
        %p.general-order-number.mb-0= current_order.number
        %p.general-address= current_order.created_at
    .visible-xs
      .general-cart-item.divider-lg
        .general-img-wrap-table
          %img.cart-img-shadow{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
        %p.title Android Programming for Beginners
        %P.in-grey-600.fw-300 A recipe-based book to help you efficiently create amazing PHP-based applications with Laravel 5.x
        %table.table
          %tr
            %td
              %span.in-grey-600 Price
            %td
              %span.font-16.in-gold-500 €28.50
          %tr
            %td.vertical-middle
              %span.in-grey-600 Quantity
            %td
              %span 1
          %tr
            %td
              %span.in-grey-600 SubTotal
            %td
              %span.font-16.in-gold-500 €32.90
      .general-cart-item.divider-lg.mb-55
        .general-img-wrap-table
          %img.cart-img-shadow{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
        %p.title Android Programming for Beginners
        %table.table
          %tr
            %td
              %span.in-grey-600 Price
            %td
              %span.font-16.in-gold-500 €28.50
          %tr
            %td.vertical-middle
              %span.in-grey-600 Quantity
            %td
              %span 1
          %tr
            %td
              %span.in-grey-600 SubTotal
            %td
              %span.font-16.in-gold-500 €32.90
    .hidden-xs.divider-lg.pt-20
      %table.table.table-hover
        %thead
          %tr
            %th
              %span.in-grey-600 Book
            %th.col-method
            %th
              %span.in-grey-600 Price
            %th
              %span.in-grey-600 Quantity
            %th
              %span.in-grey-600 Total
        %tbody
          = render partial: 'order_item'
    .text-center.general-text-right
      %p.in-gold-500.font-18 Order Summary
      %table.general-summary-table.general-summary-table-right.general-text-right
        = render partial: 'order_summary'
    .text-center
      = f.submit t('checkout.complete.back_to_store'), class: 'btn btn-default mb-20'
    