%main.container.general-main-wrap
  = render partial: 'checkout_header'
  = simple_form_for(:current_order, url: wizard_path, method: :put) do |f|
    .row.mb-20
      = render partial: 'confirmation_info'
    .visible-xs
      = render partial: 'order_item_mobile'
    .hidden-xs.divider-lg.pt-20
      %table.table.table-hover
        %thead
          %tr
            %th
              %span.in-grey-600= t('checkout.confirm.book')
            %th.col-method
            %th
              %span.in-grey-600= t('checkout.confirm.price')
            %th
              %span.in-grey-600= t('checkout.confirm.quantity')
            %th
              %span.in-grey-600= t('checkout.confirm.total')
        %tbody
          = render partial: 'order_item'
    .text-center.general-text-right
      %p.in-gold-500.font-18= t('checkout.confirm.summary')
      %table.general-summary-table.general-summary-table-right.general-text-right
        = render partial: 'order_summary'
    .text-center
      = f.submit t('checkout.confirm.place_order'), class: 'btn btn-default mb-20'
      