%main.container.general-main-wrap
  = render partial: 'checkout_header'
  %span.step-text.hidden-xs Complete
  = form_for current_order, url: wizard_path do |f|
    %h3.general-subtitle Credit Card
    .visible-xs
      = render partial: 'delivery_method_mobile', locals: { f: f }
    .hidden-xs.mb-res-50
      = render partial: 'delivery_method', locals: { f: f }
    .general-text-align
      %p.in-gold-500.font-18 Order Summary
      %table.general-summary-table
        = render partial: 'order_summary'
    .text-center
      = f.submit t('checkout.continue_btn'), class: 'btn btn-default mb-20'