%main.container.general-main-wrap
  .text-center
    %h1.mb-30 Forgot your password?
    %p.general-password-text We'll email you instructions on how to reset it
  .general-form
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = render 'devise/shared/error_messages', resource: resource
      .form-group.mb-25
        = f.email_field :email, placeholder: t('account_settings.settings.enter_email'), autofocus: true, autocomplete: 'email', class: 'form-control', id: 'email', type: 'email'
      = f.submit t('authorization.email_instructions'), class: 'btn btn-default center-block mb-20', id: 'forgot-password-btn'
      .text-center
        = link_to 'user/sign_in', class: 'in-gold-500 mb-20' do
          = t('authorization.cancel')
