- @order_items.each do |item|
  %tr
    %td
      .general-img-wrap-table
        %img.cart-img-shadow.pull-left
          = link_to image_tag(@orders.find_book(item).image_url(:small_image)), book_path(@orders.find_book(item))
    %td
      %p.title= @orders.book_info(item, :name)
      %p.in-grey-600.fw-300=  @orders.book_info(item, :description)
    %td
      %span.font-16.in-gold-500= t('book_page.price', price: @orders.book_info(item, :price))
    %td
      %span.ml-30= item.quantity
    %td
      %span.font-16.in-gold-500= t('book_page.price', price: @orders.order_item_price(item))
