- @order_item.each do |item|
  %tr
    %td
      .general-img-wrap-table
        %img.cart-img-shadow.pull-left
          = link_to image_tag(item.book.image_url(:small_image)), book_path(item.book)
    %td
      %p.title= item.book.name
      %p.in-grey-600.fw-300=  item.book.description
    %td
      %span.font-16.in-gold-500= t('book_page.price', price: item.book.price)
    %td
      %span.ml-30= item.quantity
    %td
      %span.font-16.in-gold-500= t('book_page.price', price: @order_item.order_item_price(item))
