- if @order.delivery_id.present?
  %tr
    %td
      %p.font-16= t('cart.summary.subtotal')
    %td
      %p.font-16= t('book_page.price', price: @orders.order_price)
  %tr
    %td
      %p.font-16= t('cart.summary.coupon')
    %td
      %p.font-16= t('book_page.price', price: @orders.coupon_price)
  %tr
    %td
      %strong.font-18= t('cart.summary.total')
    %td
      %strong.font-18= t('book_page.price', price: @orders.total_price)
-else
  %tr
    %td
      %p.font-16= t('cart.summary.subtotal')
    %td
      %p.font-16= t('book_page.price', price: @orders.order_price)
  %tr
    %td
      %p.font-16= t('cart.summary.coupon')
    %td
      %p.font-16= t('book_page.price', price: @orders.coupon_price)
  %tr
    %td
      %strong.font-18= t('cart.summary.total')
    %td
      %strong.font-18= t('book_page.price', price: @orders.total_price)
      