%p.in-gold-500.font-18.mb-25= t('account_settings.settings.password')
= form_tag account_path(current_user), method: :put, class: 'general-form-md divider-lg-bottom pb-25' do
  .form-group.mb-30
    = label_tag :old_password, t('account_settings.settings.old_password'), class: 'control-label input-label', for: "oldPassword"
    = password_field_tag :old_password, '', autofocus: true, class: 'form-control', id: 'old_password', type: "password", placeholder: "Old Password"
  .form-group.mb-30
    = label_tag :new_password, t('account_settings.settings.new_password'), class: 'control-label input-label', for: "newPassword"
    = password_field_tag :new_password, '', class: 'form-control', id: 'new_password', type: "password", placeholder: "New Password"
  .form-group.mb-40
    = label_tag :confirm_password, t('account_settings.settings.confirm_password'), class: 'control-label input-label', for: "confirmPassword"
    = password_field_tag :confirm_password, '', class: 'form-control', id: 'confirm_password', type: "password", placeholder: "Confirm Password"
  .general-text-align
    = submit_tag t('account_settings.save'), class: 'btn btn-default mb-10'