%main.container.general-main-wrap
  %h1.mt-0.mb-25= t('order.orders')
  %p.lead.small.mb-10.visible-xs Sort by
  .dropdowns.dropdown.general-order-dropdown
    %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
      = t('order.sorting.all')
      %i.fa.fa-angle-down.dropdown-icon.pull-right
    %ul.dropdown-menu
      = render partial: 'filter_orders_menu'
  .visible-xs#order_mobile
    = render partial: 'order_row_mobile'
  .hidden-xs.mb-res-50
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600= t('order.item_number')
          %th
            %span.in-grey-600= t('order.item_completed_at')
          %th
            %span.in-grey-600= t('order.item_status')
          %th
            %span.in-grey-600= t('order.item_total')
      %tbody#order_desktop
        = render partial: 'order_row'
