.col-sm-6
  .product-gallery
    .mb-20
      %img.img-responsive
        = image_tag @current_book.image_url(:big_image)
    .images.clearfix
      %a.img-link{href: '#'}
        = image_tag @current_book.image_url(:big_image)
      %a.img-link{href: '#'}
        = image_tag @current_book.image_url(:big_image)
      %a.img-link{href: '#'}
        = image_tag @current_book.image_url(:big_image)
.col-sm-6
  %h1.mt-res-0= @current_book.name
  %p.lead.small= @book_decorator.author_name
  .row
    .col-xs-12.col-md-4
      %p.h1.in-gold-500.mt-10 
        = t('book_page.price', price: @current_book.price)
    = render partial: 'add_book_form', locals: { book_id: @current_book.id }
  .general-info-wrap.divider-lg
    %p= t('book_page.description')
    %p#book-description.lead.small.line-height-2
      %span#description
        = @book_decorator.description
        %span#read-more-link
          = link_to '#', class: 'in-gold-500 ml-10' do
            = t('book_page.read_more')
      %span#full_description
        = @book_decorator.full_description
        %span#hide-read-more-link
          = link_to '#', class: 'in-gold-500 ml-10' do
            = t('book_page.hide_read_more')            
  .general-info-wrap.divider-lg
    .clearfix
      %p.pull-left 
        = t('book_page.year')
      %p.lead.small.pull-right 
        = @current_book.publication_year
  .general-info-wrap.divider-lg
    .clearfix
      %p.pull-left 
        = t('book_page.dimensions')
      %p.lead.small.pull-right 
        = @book_decorator.dimensions
  .general-info-wrap.divider-lg
    .clearfix
      %p.pull-left 
        = t('book_page.materials')
      %p.lead.small.pull-right 
        = @current_book.material