= simple_form_for(Review.new, validate: true,  defaults: { input_html: { class: 'form-control' }}, url: reviews_path, html: { method: :post }) do |f|
  %p.general-info-text= t('review.score') 
  .mb-15
    = 'rating'
  .row
    .col-md-8
      .mb-40
        = f.input :title, placeholder: 'Title', label_html: { class: 'control-label input-label in-grey-600' }, input_html: { class: 'form-control' }
        = f.input :review_text, as: :text, label_html: { class: 'control-label input-label in-grey-600' }, input_html: { class: 'form-control' }
      .text-right
        = f.submit t('review.post'), class: 'btn mb-20'
