= f.hidden_field :book_id, value: current_book.id
= f.hidden_field :user_id, value: current_user.id
%p.general-info-text= t('review.score') 
.mb-15
  = f.collection_radio_buttons :rating, [[1], [2], [3], [4], [5]], :first, :last, item_wrapper_tag: false, boolean_style: :inline do |b|
    = b.radio_button + b.label(class: 'book-rating')  do
      %i.fa.fa-star-o.rate-star

.row
  .col-md-8
    .mb-40
      = f.input :title, placeholder: t('review.title'), label_html: { class: 'control-label input-label in-grey-600' }, input_html: { class: 'form-control' }
      = f.input :review_text, as: :text, placeholder: t('review.text'), label_html: { class: 'control-label input-label in-grey-600' }, input_html: { class: 'form-control' }
    .text-right
      = f.submit t('review.post'), class: 'btn mb-20'
