%main.container
  = link_to url_for(:back), class: 'general-back-link' do
    %i.fa.fa-long-arrow-left.mr-15
      = t('book_page.back')
  .row
    = render partial: 'book_page'
  -if user_signed_in?
    .mb-80
      %h3= t('review.write')
    = simple_form_for(Review.new, validate: true,  defaults: { input_html: { class: "form-control" }}, url: book_reviews_path(@current_book), html: { method: :post }) do |f|
      = render partial: 'review', locals: { f: f, current_book: @current_book, current_user: current_user }
  -else
    .mb-80
      %h3= t('book_page.not_authorized')   
  .mb-80
    = render 'users_reviews'
