- @order_items.each do |item|
  %tr.cart_item
    %td
      .general-img-wrap-table
        %img.cart-img-shadow.pull-left{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
    %td
      %p.title= @cart_presenter.book_info(item, :name)
    %td
      %span.font-16.in-gold-500= t('book_page.price', price: @cart_presenter.book_info(item, :price))
    %td
      .input-group.general-position
        = link_to '#', class: 'input-link', id: 'minus' do
          %i.fa.fa-minus.line-height-40
        = text_field_tag 'book_count', '', class: 'form-control quantity-input book-count-input', value: item.quantity
        = link_to '#', class: 'input-link', id: 'plus' do
          %i.fa.fa-plus.line-height-40
    %td
      %span.font-16.in-gold-500= t('book_page.price', price: @cart_presenter.subtotal_price(item))
    %td
      %button.close.general-cart-close{type: "button", 'aria-label': "Close"}
        %span{'aria-hidden': "true"} &times;
