- @order_items.each do |item|
  .general-cart-item.divider-lg-bottom
    = button_to order_item_path(item), class: 'close general-cart-close', method: :delete do
      %span{'aria-hidden': "true"} &times;
    .general-img-wrap-table
      %img.cart-img-shadow
        = link_to image_tag(item.book.image_url(:small_image)), book_path(item.book)
    %p= link_to item.book[:name], book_path(item.book), class:'title in-gold-500' 
    %table.table
      %tr
        %td
          %span.in-grey-600= t('cart.price') 
        %td
          %span.font-16.in-gold-500= t('book_page.price', price: item.book.price)
      %tr
        %td.vertical-middle
          %span.in-grey-600= t('cart.quantity') 
        %td
          .input-group
            = link_to '#', class: 'input-link cart-minus', id: 'cart-minus' do
              %i.fa.fa-minus.line-height-40
            = text_field_tag 'book_count', '', class: 'form-control quantity-input book-count-input', value: item.quantity
            = hidden_field :item_id, item.id, class: 'current-item-id', value: item.id
            = link_to '#', class: 'input-link cart-plus', id: 'cart-plus' do
              %i.fa.fa-plus.line-height-40
      %tr
        %td
          %span.in-grey-600= t('cart.subtotal')
        %td
          %span.font-16.in-gold-500= t('book_page.price', price: item.order_item_price)
          