%main.container.general-main-wrap
  %h1.general-title-margin= t('cart.title')
  .visible-xs
    = render partial: 'order_item_phone'
  .hidden-xs
    %table.table.table-hover
      %tr.no-hover
        %th.col-pic.pl-0
          %span.in-grey-600= t('cart.product')
        %th.col-title
        %th.col-price
          %span.in-grey-600= t('cart.price') 
        %th.col-quantity
          %span.in-grey-600= t('cart.quantity') 
        %th.col-total
          %span.in-grey-600= t('cart.subtotal')
        %th.col-close
      = render partial: 'order_item'
  .general-order-wrap
    .row
      .col-sm-4
        .input-group.general-input-group
          %label.input-label= t('cart.enter_coupon')
          %input.form-control.mb-30{type: "text", placeholder: t('cart.enter_coupon')}
          %div
            %button.btn.btn-primary.mr-5.mb-15= t('cart.apply_coupon')
      .col-sm-8
        .res-mr-200.text-center.general-text-right
          %p.in-gold-500.font-18= t('cart.summary.title')
          %table.general-summary-table.general-summary-table-right.general-text-right
            %tr
              %td
                %p.font-16= t('cart.summary.subtotal')
              %td
                %p.font-16= t('book_page.price', price: @cart_presenter.subtotal_order_price(current_order))
            %tr
              %td
                %p.font-16= t('cart.summary.coupon')
              %td
                %p.font-16= t('cart.summary.coupon_sum')
            %tr
              %td
                %strong.font-18= t('cart.summary.total')
              %td
                %strong.font-18= t('book_page.price', price: @cart_presenter.subtotal_order_price(current_order))
          %button.btn.btn-default.mb-20.visible-xs-inline-block= t('cart.checkout')
  %button.btn.btn-default.mb-20.hidden-xs.center-block= t('cart.checkout')