.row
  -@books.each do |book|
    .col-xs-6.col-sm-3
      .general-thumb-wrap
        .thumbnail.general-thumbnail
          %img.img-shadow.general-thumbnail-img
            = image_tag book.image_url(:medium_image)
          .thumb-hover
            .general-thumb-link-wrap
              = link_to book_path(book), class: 'thumb-hover-link' do 
                %i.fa.fa-eye.thumb-icon{'aria-hidden': 'true'}                
              %a.thumb-hover-link{href: '#'}
                %i.fa.fa-shopping-cart.thumb-icon
      .general-thumb-info      
        %p.title= book.name
        %p.font-16.in-gold-500= t('book_page.price', price: book.price)
        %span.divider-sm
        %p.lead.small= @catalog_presenter.author_name(book)
