%main.container
  %h1.general-title-margin Сatalog
  .hidden-xs.clearfix
    .dropdowns.pull-right
      .dropdown.width-240
        = render 'sorting_menu'
    %ul.list-inline.pt-10.mb-25.mr-240
      = render 'filter_menu'
  .dropdowns.mb-25.visible-xs
    %p.lead.small.mb-10 Filter by category
    .dropdown
      %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        All
        %i.fa.fa-angle-down.dropdown-icon.pull-right
      %ul.dropdown-menu
        %li 
          %a{ href: "#" } All
        - @catalog_presenter.categories.each do |category|
          %li.mr-35
            = link_to catalog_category_path(category), class: 'filter-link' do
              = category.name
    %p.lead.small.mb-10 Sort by
    .dropdown
      %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        Newest first
        %i.fa.fa-angle-down.dropdown-icon.pull-right
      %ul.dropdown-menu
        %li
          %a{href: "#"} Newest first
        %li
          %a{href: "#"} Popular first
        %li
          %a{href: "#"} Price: Low to hight
        %li
          %a{href: "#"} Price: Hight to low
  .mb-120
    = pagy_nav(@pagy).html_safe
    .row
      = render 'book'
    .text-center
      %button.btn.btn-primary View More