%main.container
  %h1.general-title-margin
    = t('catalog.title')
  .hidden-xs.clearfix
    .dropdowns.pull-right
      .dropdown.width-240
        = render 'sorting_menu'
    %ul.list-inline.pt-10.mb-25.mr-240
      = render 'filter_menu'
  .dropdowns.mb-25.visible-xs
    %p.lead.small.mb-10 
      = t('catalog.filter')
    .dropdown
      %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        = t('filter.show_all')
        %i.fa.fa-angle-down.dropdown-icon.pull-right
      %ul.dropdown-menu
        = render 'filter_menu'
    %p.lead.small.mb-10
      = t('catalog.sort')
    .dropdown
      = render 'sorting_menu'
  .mb-120
    = pagy_nav(@pagy).html_safe
    .row
      = render 'book'
    .text-center
      %button.btn.btn-primary 
        = t('catalog.view_more')