%main.container.general-main-wrap
  .text-center
    %h3.general-login-title= t('devise.log_in')
    = link_to user_facebook_omniauth_authorize_path, method: :post, class: 'general-login-icon' do
      %i.fa.fa-facebook-official
    %p.general-login-text= t('devise.or')
  .general-form
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group.mb-30
        = f.label :email, t('devise.enter_email'), class: 'control-label input-label', autocomplete: 'email'
        = f.email_field :email, placeholder: "Enter Email", autofocus: true, autocomplete: "email", class: 'form-control', id: 'email'
      .form-group.mb-30
        = f.label :password, t('devise.enter_password'), class: 'control-label input-label', autocomlete: 'current-password'
        = f.password_field :password, placeholder: "Password", autocomplete: "password", class: 'form-control', id: 'password'
        = link_to t('devise.forgot_password'), new_user_password_path, class: 'help-block in-gold-500'
      .form-group.checkbox.text-center.mb-30
        %label.checkbox-label
          = f.check_box :remember_me, class: 'checkbox-input'
          %span.checkbox-icon
            %i.fa.fa-check
          - if devise_mapping.rememberable?
            = f.label :remember_me, t('devise.remember_me'), class: 'checkbox-text remember-me'
      .text-center
        = f.submit t('devise.back'), class: 'btn btn-default mb-20'
    %p.general-sign-text.text-center
      = t('devise.no_account')
      = link_to t('header.sign_up'), new_user_registration_path, class: 'in-gold-500'
