= f.hidden_field :type, value: type
.form-group
  = f.input :first_name, placeholder: I18n.t('hints.first_name'), label_html: { class: 'control-label input-label' }, input_html: { class: 'form-control', value: @presenter.fill_field(type, :first_name) }
.form-group
  = f.input :last_name, placeholder: I18n.t('hints.last_name'), label_html: { class: 'control-label input-label' }, input_html: { class: 'form-control', value: @presenter.fill_field(type, :last_name) }
.form-group
  = f.input :address, placeholder: I18n.t('hints.address'), label_html: { class: 'control-label input-label' }, input_html: { class: 'form-control', value: @presenter.fill_field(type, :address) }
.form-group
  = f.input :city, placeholder: I18n.t('hints.city'), label_html: { class: 'control-label input-label' }, input_html: { class: 'form-control', value: @presenter.fill_field(type, :city) }
.form-group
  = f.input :zip, placeholder: I18n.t('hints.zip'), label_html: { class: 'control-label input-label' }, input_html: { class: 'form-control', value: @presenter.fill_field(type, :zip) }
.form-group.select-country-form
  = f.input :country, placeholder: I18n.t('hints.country'), label_html: { class: 'control-label input-label' }, input_html: { class: 'form-control', value: @presenter.fill_field(type, :country) }
.form-group.mb-60
  = f.input :phone, placeholder: I18n.t('hints.phone'), label_html: { class: 'control-label input-label' }, input_html: { class: 'form-control', value: @presenter.fill_field(type, :phone) }
