%p.in-gold-500.font-18.mb-25= t('account_settings.settings.password')
= simple_form_for @current_user,  validate: true, defaults: { input_html: { class: 'general-form-md divider-lg-bottom pb-25' }}, url: account_path(current_user), html: { method: :put, id: 'password' } do |f|
  .form-group.mb-30
    = f.input :old_password, placeholder: t('account_settings.settings.old_password'), label: t('account_settings.settings.old_password'), label_html: { class: 'control-label input-label' }, input_html: { class: 'form-control', value: '' }
  .form-group.mb-30
    = f.input :new_password, placeholder: t('account_settings.settings.new_password'), label: t('account_settings.settings.new_password'), label_html: { class: 'control-label input-label' }, input_html: { class: 'form-control', value: '' }
  .form-group.mb-40
    = f.input :confirm_password, placeholder: t('account_settings.settings.confirm_password'), label: t('account_settings.settings.confirm_password'), label_html: { class: 'control-label input-label' }, input_html: { class: 'form-control', value: '' }
  .general-text-align
    = f.submit t('account_settings.save'), class: 'btn btn-default mb-10', name: 'submit-password'
    