.row.mb-60
  .col-sm-5
    %p.in-gold-500.font-18.mb-25= t('account_settings.settings.email')
    = simple_form_for @current_user, validate: true, defaults: { input_html: { class: 'general-form-md' }}, url: change_email_path(current_user), html: { method: :put, id: "email" } do |f|
      .form-group.mb-35
        = f.input :email, placeholder: "Enter your email", label: t('account_settings.settings.enter_email'), label_html: { class: 'control-label input-label' }, input_html: { class: 'form-control', value: current_user.email }
      .general-text-align
        = f.submit t('account_settings.save'), class: 'btn btn-default mb-35', name: 'submit-email'
  .col-sm-5.col-sm-offset-1
    = render 'change_password'
  .col-sm-12
    = render 'destroy_account'
